<ion-content>
  <div class="center-wrapper">
    <div class="home-container">
      <img src="assets/logo.webp" alt="ByCrousty Logo" class="logo" />
      <h2>Bienvenido, Empleado</h2>
      <p>Selecciona una opción para continuar</p>

      <div class="btn-container">
        <ion-button expand="block" (click)="scanQr()">Escanear Código</ion-button>
        <ion-button expand="block" color="secondary" (click)="verPedidos()">Ver Pedidos</ion-button>
      </div>
    </div>
  </div>
</ion-content>