/* Estilo global ByCrousty */
body {
  background-color: var(--ion-color-dark);
  color: var(--ion-color-primary);
}

ion-toolbar {
  --background: var(--ion-color-dark);
  --color: var(--ion-color-primary);
}

ion-button {
  --border-radius: 12px;
  font-weight: 600;
}

ion-item {
  --background: #111;
  --color: var(--ion-color-primary);
}
